{% extends "base.html" %}
{% block content %}
    <div class="page-header">
        <h1>Orákulum:
            <small class="text-muted">predikujme odpovědně</small></h1>
    </div>
    <hr/>
	</div>

<div class="container">
	<div class="row">
		<div class='col-md-8'>
			<h3>Úvod</h3>
<p>Ve veřejné debatě se od různých komentátorů, odborníků i neodborníků
často objevují nejrůznějších předpovědi toho, co se stane v budoucnosti.
Tyto předpovědi často působí velmi sebevědomě a mají tak velkou přesvědčovací sílu.
Bohužel, ve většině případů už ale nejsou zpětně tyto předpovědi vyhodnocovány,
což v principu motivuje autory predikcí a novináře zveřejňovat předpovědi
velice bombastické (protože přitáhnou pozornost a nalákají více čtenářů), a nikoliv předpovědi
dobře předpovídající (protože se předpovědi nevyhodnocují).
</p>
<p>
Tento projekt si klade za cíl tento stav změnit, a vnést tak do veřejné
debaty o budoucnosti prvek odpovědnosti.
To je podle nás nezbytné, chceme-li
aby v médiích a veřejném prostoru měli více prostoru lidé, kteří mají
k danému tématu skutečně co říct (a často se ve svých předpovědí trefují),
a nikoliv lidé, kteří se bez jakékoliv odpovědnosti vyjádří ke všemu
(a často jsou úplně mimo).
</p>
		</div> <!-- endcol left-->

		<div class='col-md-4 float-end'>
			<div class="alert alert-success">
				<h4 class='alert-heading'>Mohlo by Vás také zajímat:</h4>
			<a class='lead' href='/predikce/'>Predikce</a>
			<p>
			Podívejte se na to, jak takové predikce vypadají!
			</p>
			</div>
		</div> <!-- endcol right-->
	</div> <!-- endrow -->
    <br/>
<h3>Otázky a odpovědi</h3>
<h4>Víte co je to předpověď?</h4> 
<p>
Předpověď je když TODO
</p>

{% endblock content %}
